{{!-- setting up the nav bar --}}
<nav id="navbar" class="d-flex justify-content-center">
    <a href="/">
  <img src="../public/assets/images/Project2Logo.png" alt="Home">
    </a>
    <h1>Canine Critque</h1>
</nav>
 
<section id="about">
    <h2>What is Canine Critque?</h2>
    <p>Canine Critque is the leading place to view dogs and absolutly roast them! No other places allows for you to make
        fun of a dog to your hearts content while joining in on the fun and having your dog roasted</p>
</section>

<section id="join">
    <h2>Get Started</h2>
    <p>Join us over at Canine Critique</p>
    <a href="/sign_in">Sign In</a>
    <span>OR</span>
    <a href="/sign_up">Sign Up</a>
</section>

<section id="contact">
    <h2>Meet Our Team</h2>
    <div class="team-container">
        <div class="team-member">
            <h3>James Sciacca</h3>
            <p>Short Bio</p>
        </div>
        <div class="member-contact">
            <a href="mailto:">Email</a>
            <a href="">GitHub</a>
            <a href="">Portfolio</a>
        </div>
    </div>

    <div class="team-container">
        <div class="team-member">
            <h3>Megan Mathis</h3>
            <p>Short Bio</p>
        </div>
        <div class="member-contact">
            <a href="mailto:">Email</a>
            <a href="">GitHub</a>
            <a href="">Portfolio</a>
        </div>
    </div>

    <div class="team-container">
        <div class="team-member">
            <h3>Jeff Rosenblum</h3>
            <p>Short Bio</p>
        </div>
        <div class="member-contact">
            <a href="mailto:">Email</a>
            <a href="">GitHub</a>
            <a href="">Portfolio</a>
        </div>
    </div>

    <div class="team-container">
        <div class="team-member">
            <h3>Natalie Matos</h3>
            <p>Short Bio</p>
        </div>
        <div class="member-contact">
            <a href="mailto:">Email</a>
            <a href="">GitHub</a>
            <a href="">Portfolio</a>
        </div>
    </div>
</section>

<section id="disclaimer">
    <h2>disclaimer</h2>
    <p>Canine Critique is not responsible for any damages, primarily any hurt feelings, to owners or pets that may be
        affected by the 3rd degree roasting they will recieve. Please keep in mind that this site was created with a
        lighthearted attitude and want to remind others to take any comments on the cheek. With that being said, while
        Canine Critque is designed to roast your precious pups please keep in mind that these dogs and owners have
        feelings too so keep it clean and keep it fun!</p>
</section>