<div id="dashboard">
<nav id='home-nav' class=" navbar ">
    <div class="d-flex justify-content-start">
      <a class="navbar-brand " href="/">
        <span class="navbar-text text-center">Canine Critique</span>
        <img src="/assets/images/pet_roasting_logo.png" width="30" height="30" alt="Logo">
      </a>
    </div>
    <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
</nav>

{{!-- <h1>Featured Dogs</h1> --}}
<section id="welcome-info">
    <div class="row">
        <div class="col-7">
            <h1>Dashboard</h1>
            <h4>Welcome, {{username}}!</h4> 
        </div>
        <div class="col-5 text-right mt-1">
            <a href="/auth/logout" class="btn btn-primary">Log Out</a>
            <a href="/profile" class="btn btn-primary">Profile</a>
        </div>
    </div>
</section>

{{caption}}
{{url}}







