<div id="dashboard">
  <nav id='home-nav' class=" navbar ">
    <div class="d-flex justify-content-start">
      <a class="navbar-brand " href="/">
        <span class="navbar-text text-center">Canine Critique</span>
        <img src="/assets/images/pet_roasting_logo.png" width="30" height="30" alt="Logo">
      </a>
    </div>
  </nav>


<div id='newpost' class=" d-flex align-items-center justify-content-center mt-5">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="text-center">
      <form action="/posts/new" method="post">
        <legend>New Post</legend>
        <div class="form-group">
          <label for="post-title">
            <Caption>Enter a Caption for your Post!</Caption>
          </label>
          <input type="text" name="caption" class="form-control" id="post-caption" placeholder="ex: da dawg got hella fat" />
        </div>
        <div class="form-group">
          <label for="post-url">Enter the URL of your <a href="https://giphy.com/search/dog" target="_blank" >Giphy.com</a> Image!</label>
          <input type="url" name="url" class="form-control" id="post-url" placeholder="link goes here!" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn button">Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>