<div id="profile-image">
    <h1>Upload Image</h1>
    <form method="POST" action="/profile/uploads" enctype="multipart/form-data">
        <input type="file" src="ProfilePics">
        <input type="submit">
    </form>
</div>

<h2>{{username}}</h2>

<div id="profile-bio">
    <h3>Bio</h3>
    <p>{{bio}}</p>
</div>
