
body {
    height: 100vh;
}

#tab-logo{
    border-radius: 50%;
}

:root {
    --primary_color1: #FBFBF8; /* Baby Powder */
    --primary_color1: #B37034; /* Copper */
    --primary_color1: #6B2F17; /* Seal Brown */
    --primary_color1: #452D2E; /* Van Dyke */
    --primary_color1: #B04916; /* Rust */
    --primary_color1: #F8AF01; /* Xanthous */
    --primary_color1: #F8E7CE; /* Champagne */
    --primary_color1: #FDFDFE; /* White */
    --primary_color1: #2F161A; /* Licorice */
}

*{
    color: #2F161A;
}

#sign-in-page footer{ 
        position: absolute;
        bottom: 0;
        width: 100%;      
}

#sign-up-page footer{ 
    position: absolute;
    bottom: 0;
    width: 100%;      
}



#james-section p {
    max-width: 300px;
}

#get-started{
    
}

#home-nav{
    background-color: #B04916;
}

#home-nav span{
    color: white;
}

#home-nav a {
    color: white;
}

#home-nav img {
    border-radius: 50%;
}

.button {
    color: white;
    background-color: #F8AF01;
}

#sign-border {
    border: solid rgba(176, 73, 22, .7) 5px;
    padding: 20px;
    border-radius: 5px;
    max-width: fit-content;
    margin-bottom: 40px;
}

#sign-border border {
    opacity: 50%;
}

#james-section img {
    border-radius: 50%;
}

#james-links a {
    color: #B04916;
    
}

#james-section p {
    max-width: 300px;
}

#megs-section img {
    border-radius: 50%;
}

#megs-links a {
    color: #B04916;
    
}

#megs-section p {
    max-width: 300px;
}

#jeffs-section img {
    border-radius: 50%;
}

#jeffs-links a {
    color: #B04916;
    
}

#jeffs-section p {
    max-width: 300px;
}

#natalies-section img {
    border-radius: 50%;
    margin-bottom: 40px;
}

#natalies-links a {
    color: #B04916;
    
}

#natalies-section p {
    max-width: 300px;
}

#disclaimer {
    margin-bottom: 50px;
}

/* footer */
#app-footer {
    background-color: #2F161A;
}

#app-footer h1 {
    color: #F8E7CE;
    font-size: 25px;
}

#app-footer img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#app-footer a {
    color: #F8E7CE;
}

#app-footer a:hover{
    color: #B04916;
}

#sign-in-page .button {
    background-color: #F8AF01;
}

#sign-up-page .button {
    background-color: #F8AF01;
}



* hr{
    display:block;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), 
    color-stop(50%, #B04916));
    height: 7px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 40px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .post-image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
}